<h3>{{ chart.getChart.name }}</h3>
<canvas id="chart{{ chart.getChart.id }}"></canvas>

<script>
    $(document).ready(function(){
        var ctx = document.getElementById("chart{{ chart.getChart.id }}").getContext("2d");
        var data =  {
            labels: [{{ chart.chartLabels|raw }}],
            datasets: [
                {{ chart.chartDatasets|raw }}
            ]
        };

        var options = {
            responsive: true,
            maintainAspectRatio: true
        };

        new Chart(ctx).Line(data,options);
    });
</script>
